<nav class="d-flex justify-content-around w-75">
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("All Cuisines", "Index", "Cuisine")</p>
  <p>@Html.ActionLink("All Restaurants", "Index", "Restaurant")</p>
</nav>
